/*reset:;*/
.mui-content-padded{
	padding-bottom: 20px;
}
.mui-table-view-cell{
	padding: 4px 8px;
	padding-right: 0;
}
.mui-input-group {
	background: none;
}
.mui-input-group .mui-input-row{
	background: none;
}
/*new*/
.kom-entry{
  	margin: 0 auto;
  	margin-top: 20px;
  	width: 90%;
  	background: #fff;
  	padding: 5px;
  	border-radius: 5px;
  	position: relative;
  	text-align: center;
  	z-index: 3;
  	box-shadow: 2px 2px #ccc;
}
.kom-entry-all{
	margin: 0 auto;
  	width: 92%;
}
  .kom-entry-harf{
  	width: 50%;
  	display: inline-block;
  	border-radius: 0 5px 5px 0;
  	z-index: 3;
  }
  .harf-left{
  	width: 50%;
	background: #4cd964;
	border-radius: 5px 0 0 5px;
	margin-right: -2%;
	z-index: 4;
	box-shadow: 1px 2px #ccc;
  }
  .kom-entry-trans{
    position: absolute;
	top: 39px;
	left: 46.6%;
	width: 22px;
	height: 22px;
	z-index: -1;
	background: #fff;
	-webkit-transform: rotate(45deg);
	box-shadow: 2px 2px #ccc;
  }
  .harf-left .kom-entry-trans{
  	/*border-top:10px solid #4cd964;*/
  	background: #4cd964;
  	/*box-shadow: 2px 2px #4cd964;*/
  }
  div.kom-entry.kom-entry-harf:not(.harf-left){
  	background: #f0ad4e;
  }
  div.kom-entry.kom-entry-harf:not(.harf-left) .kom-entry-trans{
  	/*border-top:10px solid #f0ad4e;*/
  	background: #f0ad4e;
  	/*box-shadow: 2px 2px #f0ad4e;*/
  }
  .kom-entry .posbadge{
  	position: absolute;
  	right: -3px;
	top: -6px;
	z-index: 9;
  }
  .searchdiv{
  	padding-top: 5px;padding-bottom: 5px;background-color: #efeff4;
  }
  .searchdiv form{
  	background-color: #FFF;padding: 5px 5px 0 5px;
  }
  .mui-table-view-cell h6{
  	float: left;
  }
  .mui-table-view-cell h6:last-child{
  	float: right;
  }
  .mui-table-view li:nth-child(2n){
  	background-color: #DDDDDD
  }
  #othersearch{
  	display: none;position: absolute;z-index: 7;width: 100%;border-radius: 10px;
  	background:rgba(255,255,255,0.9);padding:0 5px;margin-left: -5px;
  }
   #othersearch .mui-input-row{
   	margin-bottom: 4px;
   }
  #othersearch input{
  	background: none;
  }
  #clickdownwrap{
  	text-align: center;margin-top: -6px;height:24px;
  }
  .mui-input-row input{
  	border: 1px solid #ccc;border-radius: 10px;background: none;
  }
  .searchdiv{
  	position: relative;height: 77px;
  }
  .mui-input-row span:first-child{
  	margin-left: 2%;
  }
  .mui-input-row span{
  	margin-right: 2%;width: 21%;
  }
  .mui-input-row input[type='date']{
  	width: 46%;
  }
  .mui-search span{
  	width: auto;
  }
  .ddllist{
  	position: absolute;background: rgba(0,0,0,0.6);width: 100%;height:150px;z-index: 8;overflow: scroll;
  	padding-left: 0;margin-top: 0;text-indent: 13px;
  }
  .ddllist li{
  	list-style: none;
  	border-bottom: 1px solid #ccc;color: #fff;padding: 4px 0;
  }
  .mask{
  	position: fixed;width: 100%;height: 100%;background: rgba(255,255,255,0.6);z-index: 9999;top: 0;left: 0;
  	display: none;
  }
#popbtns{
	background: red;
	border-radius: 5px;
	width: 80%;box-shadow: 0 0 20px rgba(0, 0, 0, .7);
	margin: 200px auto;padding: 5px 0;height: 42px;line-height: 15px;
}
#popbtns span{
	display: inline-block;width: 32%;text-align: center;
}
#popbtns span:not(:last-child){
	border-right: 1px solid #fff;
}
#popbtns span:first-child{
	padding-top: 13px
}
