/*reset:;*/
.mui-content-padded{
	padding-bottom: 20px;
}
.mui-table-view-cell{
	padding: 4px 8px;
	padding-right: 0;
}
/*new*/
.kom-entry{
  	margin: 0 auto;
  	margin-top: 12px;
  	width: 90%;
  	background: #fff;
  	padding: 5px;
  	border-radius: 5px;
  	position: relative;
  	text-align: center;
  }
  .kom-entry-harf{
  	width: 45%;
  	display: inline-block;
  }
  .harf-left{
  	width: 44%;
	margin-left: 5%;
	background: #4cd964;
  }
  .kom-entry-trans{
  	position: absolute;
  	top: 51px;left:14px;
  	width: 0;
  	height: 0;
  	border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #fff;
    z-index:0;
  }
  .harf-left .kom-entry-trans{
  	border-top:10px solid #4cd964;
  }
  div.kom-entry.kom-entry-harf:not(.harf-left){
  	background: #f0ad4e;
  }
  div.kom-entry.kom-entry-harf:not(.harf-left) .kom-entry-trans{
  	border-top:10px solid #f0ad4e;
  }
  .kom-entry .posbadge{
  	position: absolute;
  	right: -8px;
	top: -8px;
	z-index: 9;
  }
  .searchdiv{
  	padding: 5px;background-color: #efeff4;
  }
  .mui-table-view-cell h6{
  	float: left;
  }
  .mui-table-view-cell h6:last-child{
  	float: right;
  }
  .mui-table-view li:nth-child(2n){
  	background-color: #DDDDDD
  }
  
